#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end##
import org.junit.runner.RunWith;
import com.pageobect.demo.Utilities.Reports;
import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;
import org.junit.AfterClass;
import com.pageobect.demo.BaseRunner;

@RunWith(Cucumber.class)
@CucumberOptions(
        strict = true,
        features = {"$featureFile"},
        plugin = #stringArray($plugins),
        glue = #stringArray($glue),
#if(!$featureFile.contains(".feature:") && $tags)
        tags = #stringArray($tags),
#end
        monochrome = true
)
public class $className extends BaseRunner {

}

